$primary   : #1976D2
$secondary : #26A69A
$accent    : #9C27B0

$red-one   : #B82B56
$red-two   : #CF3A3C
$black     : #281D1F
$light-y     : #FEE671
$grey1     : #333840
$grey2     : #545b67
$grey3     : #7f848c
$grey4     : #949393

$rainbow-bg: linear-gradient(to right, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3)


$dark      : #1D1D1D
$light     : #ffffff

$positive  : #21BA45
$negative  : #C10015
$info      : #31CCEC
$warning   : #F2C037